[program:node]
command=/usr/bin/node {{ nodejs_args }}
directory={{ nodejs_chdir if nodejs_chdir is defined else nodejs_path }}
environment=USER={{ nodejs_user }},HOME={{ nodejs_path }},NODE_ENV=production,NODE_PATH={{ nodejs_path }}
user={{ nodejs_user }}
