{
{% if docker_bip != "" %}
  "bip": "{{ docker_bip }}",
{% endif %}
{% if docker_log_driver != "" %}
  "log-driver": "{{ docker_log_driver }}",
{% endif %}
  "storage-driver": "{{ docker_storage_driver }}"
}
