Acquire::http::proxy "http://{{ apt_proxy | regex_replace('^(http|https):\/\/(.*)$', '\\2') }}";
Acquire::https::proxy "https://{{ apt_proxy | regex_replace('^(http|https):\/\/(.*)$', '\\2') }}";
Acquire::socks::proxy "socks://{{ apt_proxy | regex_replace('^(http|https):\/\/(.*)$', '\\2') }}";
{{ apt_proxy_extra | default() }}
