# {{ ansible_managed }}

# HTTP/HTTPS request given an address a method and a timeout
{% for config in telegraf_inputs_http_response_configs %}
[[inputs.http_response]]
  ## Server address (default http://localhost)
  address = "{{ config.address | default("http://localhost") }}"

  ## Set response_timeout (default 5 seconds)
  response_timeout = "{{ config.response_timeout | default("5s") }}"

  ## HTTP Request Method
  method = "{{ config.method | default("GET") }}"

  ## Whether to follow redirects from the server (defaults to false)
  # follow_redirects = false

  ## Optional HTTP Request Body
  # body = '''
  # {'fake':'data'}
  # '''

  ## Optional substring or regex match in body of the response
  {% if config.response_string_match %}
  response_string_match = "{{ config.response_string_match }}"
  {% endif %}

  ## Optional SSL Config
  # ssl_ca = "/etc/telegraf/ca.pem"
  # ssl_cert = "/etc/telegraf/cert.pem"
  # ssl_key = "/etc/telegraf/key.pem"
  ## Use SSL but skip chain & host verification
  # insecure_skip_verify = false

  ## HTTP Request Headers (all values must be strings)
  # [inputs.http_response.headers]
  #   Host = "github.com"

{% endfor %}
