metricbeat.modules:
- module: system
  enabled: {{ metricbeat_module_system_enabled | to_json }}
  metricsets: {{ metricbeat_module_system_metricsets | to_json }}
  period: {{ metricbeat_module_system_period }}
  processes: {{ metricbeat_module_system_processes | to_json }}
  cpu_ticks: {{ metricbeat_module_system_cpu_ticks | to_json }}

{% if metricbeat_module_redis_enabled | bool %}
- module: redis
  enabled: {{ metricbeat_module_redis_enabled | to_json }}
  hosts: {{ metricbeat_module_redis_hosts | to_json }}
  metricsets: {{ metricbeat_module_redis_metricsets | to_json }}
  period: {{ metricbeat_module_redis_period }}
{% endif %}

{% if metricbeat_module_mongodb_enabled | bool %}
- module: mongodb
  enabled: {{ metricbeat_module_mongodb_enabled | to_json }}
  hosts: {{ metricbeat_module_mongodb_hosts | to_json }}
  metricsets: {{ metricbeat_module_mongodb_metricsets | to_json }}
  period: {{ metricbeat_module_mongodb_period }}
{% endif %}

output.elasticsearch:
  hosts: {{ metricbeat_output_hosts | to_json }}
  protocol: {{ metricbeat_output_protocol }}
{% if metricbeat_output_path != "" %}
  path: {{ metricbeat_output_path }}
{% endif %}
{% if metricbeat_output_username != "" %}
  username: {{ metricbeat_output_username }}
  password: {{ metricbeat_output_password }}
{% endif %}

{% if metricbeat_fields_under_root | bool %}
fields_under_root: {{ metricbeat_fields_under_root | to_json }}
{% endif %}
{% if metricbeat_fields != "" %}
fields: {{ metricbeat_fields | to_json }}
{% endif %}
