metricbeat.modules:
- module: system
  metricsets:
    - cpu
    - filesystem
    - memory
    - network
    - process
  enabled: {{ metricbeat_module_system_enabled | bool }}
  period: 10s
  processes: ['.*']
  cpu_ticks: false

output.elasticsearch:
  hosts: {{ metricbeat_output_hosts | to_json }}
  protocol: {{ metricbeat_output_protocol }}
{% if metricbeat_output_path != "" %}
  path: {{ metricbeat_output_path }}
{% endif %}
{% if metricbeat_output_username != "" %}
  username: {{ metricbeat_output_username }}
  password: {{ metricbeat_output_password }}
{% endif %}
