check process td-agent with pidfile /var/run/td-agent/td-agent.pid
  start program = "/etc/init.d/td-agent start"
  stop program = "/etc/init.d/td-agent stop"
  if 5 restarts within 5 cycles then timeout
