/var/log/openvpn.log {
  weekly
  missingok
  rotate 52
  compress
  delaycompress
  notifempty
  create 640 root adm
  sharedscripts
  postrotate
    /etc/init.d/openvpn reload > /dev/null
  endscript
}
