---
# File: main.yml
# Type: task
# Part: MongoDB | Default (Ubuntu)

## Install
- name: MongoDB | Install ppa key
  apt_key: id=7F0CEB10 url=http://keyserver.ubuntu.com:11371/pks/lookup?op=get&search=0x9ECBEC467F0CEB10 state=present
- name: MongoDB | Install ppa
  apt_repository: repo='deb http://downloads-distro.mongodb.org/repo/ubuntu-upstart dist 10gen' state=present
- name: MongoDB | Install package
  apt: name=mongodb-{{ mongodb_apt_flavor }} state={{ mongodb_apt_state }} force=yes
  notify: restart mongod
